body {
  margin: 10;
  padding: 10;
  box-sizing: border-box;
}

.container {
  height: 90vh;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 0.4fr 1.2fr 1.5fr 0.8fr;

  grid-template-areas:
    "nav nav nav nav"
    "sidebar main main main"
    "sidebar content1 content2 content3"
    "sidebar footer footer footer";

  gap: 10px;
}

/* Navbar */

nav {
  background-color: #00ffff;
  grid-area: nav;
}

/* SIDEBAR */

aside {
  background-color: #00ced1;
  grid-area: sidebar;
}

/* MAIN */

main {
  background-color: #7fffd4;
  grid-area: main;
}

/* CONTENT */

#c1 {
  background-color: #00fa9a;
  grid-area: content1;
}

#c2 {
  background-color: #3cb371;
  grid-area: content2;
}

#c3 {
  background-color: #98fb98;
  grid-area: content3;
}

/* FOOTER */

footer {
  background-color: #7fff00;
  grid-area: footer;
}
